.log-table {
    width: 100%; /* Adjust width as needed */
    border-collapse: collapse;
    margin-top: 200px;
}

.log-table th, .log-table td {
    padding: 0.75em;
    text-align: left;
    border-bottom: 1px solid #444;
}

.log-table th {
    background-color: #333;
}

.log-table .actions-header,
.log-table .actions-cell {
    text-align: right;
    padding-right: 1em; /* Add some padding to push it away from the edge */
}

.log-table tr:hover {
    background-color: #2c2c2c;
}

.action-button {
    background: none;
    border: none;
    color: #e0e0e0;
    cursor: pointer;
    margin-left: -0.5em;
}

.action-button:hover {
    color: #646cff;
}

.log-title-cell {
    width: 30%; /* Adjust based on how much space you want for titles */
    text-align: left;
}

.date-created-cell {
    width: 25%;
    text-align: center;
}

.date-operation-cell {
    width: 25%;
    text-align: center;
}
