.primary-variant-button {
  color: #F7FAFF;
  background: #224EAB;
  border-radius: 12px;
}

.secondary-variant-button {
  color: #4F607E;
  background-color: #F7FAFF;
  border: 1px solid #9AB0E1;
  border-radius: 12px;
}