.input-with-arrow-button-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.arrows-icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background-color: #244B94;
  border-radius: 10px;
}

.labs-section-container, .pulses-section-container {
  position: relative;
}

.diagram-image {
  margin: 10px 0 24px 0;
  height: 54px;
}

.labs-text-input {
  width: 30px;
  box-sizing: border-box;
  padding: 1px 4px 0 4px;
  border: 1px solid #BAC1D0;
  border-radius: 8px;
  background-color: transparent;
}

.labs-w-input {
  position: absolute;
  top: 34px;
  left: 16px;
}

.labs-hb-input {
  position: absolute;
  top: 0px;
  left: 40px;
}

.labs-plt-input {
  position: absolute;
  top: 34px;
  left: 66px;
}

.labs-cr-input {
  position: absolute;
  top: 0px;
  left: 224px;
}

.labs-checkbox-input {
  border: 1px solid #BAC1D0;
  background-color: transparent;
}

.bottom-left-checkbox-input {
  position: absolute;
  top: 12px;
  left: -10px;
}

.top-left-checkbox-input {
  position: absolute;
  top: 54px;
  left: -18px;
}

.top-right-checkbox-input {
  position: absolute;
  top: 12px;
  left: 50px;
}

.bottom-right-checkbox-input {
  position: absolute;
  top: 54px;
  left: 58px;
}

.first-na-radio-button {
  position: absolute;
  top: 68px;
  left: 30px;
}

.second-na-radio-button {
  position: absolute;
  top: 68px;
  left: 160px;
}

.arrows-icon {
  height: 28px;
  width: 28px;
  color: #FBFCFE;
}