.content-header {
    position: absolute;
    left: 230px;
    top: 18%;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4px; 
    border-bottom: 1px solid #9AB0E1;
}

.content-header h2 {
    font-size: 24px;
    font-weight: 600;
    color: #1E1E1E;
}

.content-header[data-page="upload-photo"] h2 {
    border-bottom: 2px solid #2B4B96;
}

.button-group {
    display: flex;
    gap: 12px;  /* Space between buttons */
    align-items: center;
}

.actions-button {
    background: white;
    color: #000000;         /* SECONDARY_COLOR */
    border-radius: 20px;    /* DEFAULT_BORDER_RADIUS */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    height: 40px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

.actions-button:hover {
    background: #f0f5ff;
}

.add-button {
    background: #244B94;  /* PRIMARY_BACKGROUND_COLOR */
    color: #F7FAFF;       /* PRIMARY_COLOR */
    border-radius: 20px;  /* DEFAULT_BORDER_RADIUS */
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

.add-book-button:hover {
    opacity: 0.9;
}

.plus-icon {
    width: 18px;
    height: 18px;
}

.down-icon {
    width: 18px;
    height: 18px;
}

.back-button {
    background: none;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    color: #2B4B96;
}

.preview-button {
    background: none;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    color: #333333;
    font-weight: 400;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row-reverse;
}

.preview-icon {
    width: 30px;
    height: 30px;
    stroke-width: 2;
    color: #244B94;
}

.upload-back-icon {
    width: 30px;
    height: 30px;
    stroke-width: 3;
    color: #2B4B96;
    transition: transform 0.2s ease;
}

.upload-back-icon:hover {
    transform: translateX(-5px);
}

.title-wrapper {
  display: flex;
  justify-content: center;
}

.upload-photo-title {
    color: #1E1E1E;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0;
  padding-bottom: 0.5rem;
  width: fit-content; 
  border-bottom: 2px solid #ECEBED;
}

.upload-photo-header {
    position: absolute;
    left: 230px;
    top: 18%;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4px;
}