.toggle-switch {
    display: flex;
    align-items: center;
    width: 4rem; 
    min-height: 2rem; 
    padding: 0.25rem; 
    border-radius: 100px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-right: 20px;
}

.toggle-switch.active {
    background-color: rgba(36, 75, 148, 1);
}

.toggle-switch.inactive {
    background-color: rgba(186, 193, 208, 1);
}

.toggle-switch__thumb {
    background-color: white;
    box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.25);
    width: 1.5rem; 
    height: 1.5rem; 
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    margin-left: 0;
}

.toggle-switch.active .toggle-switch__thumb {
    margin-left: auto;
}
