.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 380px;
    width: 640px;
    background-color: #FBFCFE;
    border-radius: 20px;
    box-shadow: 24;
    gap: 12px;
  }
  
  .close-modal-button {
    position: absolute;
    top: 40px;
    left: 40px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #244B94;
    border-radius: 40px;
  }
  
  .close-modal-button:hover {
    background-color: rgb(219, 219, 219);
  }
  
  .modal-description {
    font-size: 24px;
    font-weight: bold;
    margin: 1rem;
  }

  .close-x-icon {
    height: 34px;
    width: 34px;
    color: inherit;
  }
  
  .modal-icon {
    height: 40px;
    width: 40px;
  }

  .modal-input {
    width: 330px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .modal-input input{
    height: 20px;
    width: 330px;
    border-radius: 10px;
    border: 1px solid #BAC1D0;
    padding: 21px 28px 21px 28px;
  }

  .add-logbook-button {
    margin-top: 20px;
  }

  .logbook-type-button {
    height: 20px;
    width: 330px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #BAC1D0;
    background-color: white;
    padding: 21px 28px 21px 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: normal;
    position: relative;
  }

  .logbook-type-dropdown {
    position: absolute;
    width: 330px;
    margin-top: 10px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    min-width: 10rem;
    z-index: 50;
    border: 1px solid #e5e7eb;
  }
  
  .logbook-type-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    gap: 0.75rem;
    padding: 0.75rem 2rem;
    color: #374151;
    font-size: 0.875rem;
    cursor: pointer;
    transition: background-color 0.2s;
    border: none;
    background: none;
    text-align: left;
  }
  
  .logbook-type-item:hover {
    background-color: #f3f4f6;
  }