.signup-link span {
	color: black;
	font-size: 1rem;
}

form button[type="submit"] {
	border-radius: 20px;
	border: 1px solid #BAC1D0;
	background: #16448f;
	color: #F2F4F8;
	font-size: 15px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	width: 400px;
	height: 55px;
}

form button[type="submit"]:active {
	transform: scale(0.95);
}

form button[type="submit"]:focus {
	outline: none;
}

form button[type="submit"].ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #F2F4F8;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.username-group .email-group .password-group .confirm-password-group .form-container .sign-in-container input {
	background-color: #F2F4F8;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #F2F4F8;
	overflow: hidden;
	margin: 0;
	width: 1280px;
	height: 931px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.7s ease-in-out;
}

.form-container h2 {
    font-size: 1.2rem;
	text-align: center;
	color: #3f51b5;
}

.form-container h1 {
	font-weight: bold;
	margin: 0;
	color: black;
}

.sign-in-container {
	left: 50%;
	width: 50%;
	z-index: 2;
}

.sign-in-container h2 {
	font-size: 1rem;
	color: #244B94;
	margin-top: 0;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(-100%);
}

.sign-up-container {
	left: 50%;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.sign-up-container h1 {
	font-size: 2rem;
}

.sign-up-container h2 {
	font-size: 1rem;
	color: #244B94;
	margin-top: 0;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(-100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.7s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container {
	transform: translateX(100%);
}

.overlay {
    background: -webkit-linear-gradient(180deg, #0B234A 0%, #162A5B 100%); /* For Chrome and Safari */
    background: linear-gradient(35deg, #1d57b6 0%, #070e1e 100%); /* Standard syntax */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #F2F4F8;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}


.container.right-panel-active .overlay {
	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
	padding-top: 50px;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.username-group {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
  }

.username-group .MuiTextField-root {
    width: 400px !important;
}
  

  .password-group .MuiTextField-root {
    width: 400px !important;
}
  
  .forgot-password {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 1.5rem;
	margin-top: 1rem;
	width: 400px;
}

.forgot-password a {
	color: #666;
	text-decoration: none;
	font-size: 0.9rem;
}

.forgot-password a:hover {
	color: #000;
}
  
  .signup-link {
	margin-top: 1rem;
	text-align: center;
	font-size: 0.9rem;
  }
  
  .signup-link a {
	font-size: 1rem;
	color: #3f51b5;
	text-decoration: none;
	font-weight: bold;
  }
  
  .signup-link a:hover {
	text-decoration: underline;
  }

  .overlay-panel img {
    width: 450px !important; 
    margin-bottom: 2rem;
}

.sign-up-container .username-group {
	display: flex;
	flex-direction: column;
}

.sign-up-container .password-group {
	margin-top: 1.2rem;
	display: flex;
	flex-direction: column;
}

.password-group {
	margin-top: 1.2rem;
	display: flex;
	flex-direction: column;
}

.sign-up-container .email-group {
	margin-top: 1.2rem;
	display: flex;
	flex-direction: column;
	width: 400px;
}

.email-group .MuiTextField-root {
    width: 400px !important;
}

.logo-container {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 101;
}

.logo-container img {
    width: 250px;
}
  
/* TextField Container Styling */
.MuiTextField-root {
    width: 400px !important;
}

/* Main TextField Styling */
.MuiTextField-root .MuiOutlinedInput-root {
    border-radius: 50px;
    background-color: #F2F4F8;
}

/* Input Field Styling */
.MuiTextField-root .MuiOutlinedInput-input {
    color: #6B7280;
    padding: 15px 5px;
    text-align: left;
}

/* Placeholder Text */
.MuiTextField-root .MuiOutlinedInput-input::placeholder {
    color: #9CA3AF;
    opacity: 0.8;
}

/* Border Styling */
.MuiTextField-root .MuiOutlinedInput-notchedOutline {
    border-radius: 20px;
    border: 1px solid #BAC1D0;
}

/* Focus State */
.MuiTextField-root .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #BAC1D0;
    border-width: 1px;
}

/* Icon Styling */
.MuiTextField-root .MuiInputAdornment-root .MuiSvgIcon-root {
    color: #C4C5C6;
	font-size: 1.4rem;;
}

.confirm-password-group {
	margin-top: 1.2rem;
	margin-bottom: 3rem;
	display: flex;
	flex-direction: column;
}

.confirm-password-group .MuiTextField-root {
    width: 400px !important;
}

.name-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 400px;
  margin-top: 1rem;
}

.name-group > div {
    display: flex;
    flex-direction: column;
}

.name-group input {
    border-radius: 20px;
    background-color: #F2F4F8;
    color: #6B7280;
    padding: 15px 20px;
    border: 1px solid #BAC1D0;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    text-align: left;
}

/* Placeholder Text for name-group inputs */
.name-group input::placeholder {
    color: #9CA3AF;
    opacity: 0.8;
}


/* Label Styling */
label {
    color: #6B7280;
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
    align-self: flex-start;
	text-align: left;
}

.name-group input:hover {
    border-color: #000;
}

