* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: 250px;
  background-color: #f7faff;
  align-items: center;
  overflow: auto;
  z-index: 1000;
  padding: 20px 20px 20px 20px;
  box-shadow: 0px 0px 10px #e3e8f2;
}

.nav-button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.nav-logo-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 60px;
}

.nav-logo {
  padding: 0px;
  height: 50px;
  width: 50px;
}

.nav-name {
  color: #244b94;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
}

.nav-button {
  display: flex;
  width: 100%;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
}

.nav-icon {
  width: 25px;
  object-fit: contain;
  aspect-ratio: 1;
  color: black;
}

.nav-button-text {
  color: #192b52;
  font-size: 17px;
  font-weight: 300;
  margin-left: 20px;
  letter-spacing: -0.4px;
}

.nav-button:hover {
  background-color: #e9f1fc;
}

.nav-button.active {
  background-color: #244b94;
}

.nav-button:hover .nav-button-text,
.nav-button:hover .nav-icon {
  color: #244b94;
}

.nav-button.active .nav-button-text,
.nav-button.active .nav-icon {
  color: #f7faff;
  font-weight: 600;
}

.profile-container {
  margin-top: auto;
  display: flex;
  align-items: center;
  width: 100%;
  border-top: 2px solid #e3e8f2;
}
