.logbooks-card {
  background: #fbfcfe;
  border-radius: 20px;
  border: 0.5px solid #ccc;
  min-width: 730px;
  height: 635px;
  padding: 48px 58px;
  box-shadow: 0px 16px 48px 0px rgba(193, 204, 226, 0.25);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header h2 {
  color: #3e4043;
  font-size: 28px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.56px;
}

.view-more-btn {
  padding: 10px 14px;
  border-radius: 20px;
  border: 1px solid #9ab0e1;
  background: #f7faff;
  color: #4f607e;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.logbooks-image {
  width: 100%;
  max-width: 350px;
  margin: 5px auto;
  display: block;
}

.progress-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  gap: 16px;
}
