:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --logo-colour: #646cff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.sign-in-button-container {
  display: flex;
  gap: 9px;
}

.login-icon {
  margin-left: 8px;
  font-size: 1.2rem;
  vertical-align: middle;
}

.sidebar {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  height: 100vh;
  border-right: 1px solid #e5e7eb;
  /* light gray border */
}

.page-container {
  display: flex;
  height: 100vh;
  /* Full viewport height */
}

.main-content {
  flex-grow: 1;
  /* Take the remaining space */
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  text-align: center;
  /* Center text inside the div */
}

.nav-icon-left {
  margin-right: 3px;
  margin-left: -2px;
  vertical-align: -6px;
}

.nav-icon-right {
  vertical-align: -6px;
  margin-left: 10px;
  margin-right: -10px;
}

.upload-photos-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding-left: 20px;
  margin-top: -40px;
}

.upload-box {
  flex: 1;
  max-width: 55vw;
  padding: 40px;
  border-right: 1px solid #555;
  display: flex;
  flex-direction: column;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.2rem;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-left: 80px;
  margin-right: 80px;
  font-size: 1.1rem;
}

.preview-content {
  flex-grow: 1;
  margin-bottom: 50px;
  min-width: 0;
}

.log-history-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 80%;
}