:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --logo-colour: #646cff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  width: 100vw; 
  background-color: #242424;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.logo-text-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.logo-text-bold {
  font-weight: bold;
  font-size: 1.7rem; 
  line-height: 1;
}

.logo-text-small {
  font-weight: 600;
  font-size: 1rem; 
  line-height: 1.1; 
  color: white; 
}

/* CTA Section */
.cta-section {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-left: 64px; 
  margin-right: 64px;
  margin-top: 200px; 
}

.cta-paragraph {
  text-align: center; 
  font-size: 1.1rem; 
  color: #64748b; 
  width: 450px;
  margin-top: -1rem;
}

.sign-up-button-container {
  display: flex;
  gap: 8px;
}

.sign-in-button-container {
  display: flex;
  gap: 9px;
}

.nav-buttons-container {
  display: flex;
  gap: 8px; 
  margin-top: 10px;
  margin-right: 30px;
}

.login-icon {
  margin-left: 8px;
  font-size: 1.2rem; 
  vertical-align:middle;
}