.main-content-buttons {
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}