.loading-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
 
.loading-screen h2 {
    margin: 0px;
    color: #1E1E1E;
    font-size: 2rem;
}

.loading-screen h3 {
    margin: 0px;
    color: #1E1E1E;
    font-size: 1.7rem;
}
  
.progress-bar-container {
    width: 60%;
    height: 25px;
    border-radius: 30px;
    border: 1px solid #244B94;
    background-color: #FFFF;
    margin-top: 40px;
    margin-bottom: 80px;
    position: relative;
}
  
.progress-bar {
    height: 100%;
    background: #244B94;
    border-radius: 20px;
    transition: width 0.3s ease;
}
  
.progress-text {
    position: absolute;
    right: -50px;
    top: 1px;
    color: #000000;
}

.custom-button {
    border: 1px solid #BAC1D0; 
    border-radius: 30px;
    color: #244B94; 
    background-color: transparent;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    display: flex; 
    align-items: center; 
    cursor: pointer;
}

.cancel-icon {
    margin-right: 8px;
    font-size: 18px;
}