.upload-area {
  border: 2px dashed #646cff;
  background-color: #1d1d1d;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  height: 450px;
  width: 80%;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}