.table-container {
  background: transparent;
  border-radius: 8px;
  margin-top: 8%;
  margin-left: 6%;
  width: 90%;
}

.table-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  color: #333333;
  font-size: 15px;
}

.table-footer .showing-text span {
  color: #64b2f6;
}

.loghistory-container {
  margin-left: 65px;
  max-width: 1400px;
}
