/* Table Container */
.table-container {
  background: transparent;
  border-radius: 8px;
  margin-top: 8%;
  margin-left: 6%;
  width: 90%;
}

/* Logs Table */
.logs-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.logs-table th {
  background: #333A3F;
  color: white;
  text-align: left;
  padding: 13px 24px;
  font-weight: 700;
  font-size: 17px;
  white-space: nowrap;
  letter-spacing: 0.5px;
}

.logs-table th:first-child {
  border-top-left-radius: 20px;
}

.logs-table th:last-child {
  border-top-right-radius: 20px;
}

.logs-table td {
  color: #1E1E1E;
  font-size: 15px;
  padding: 8px 24px;
}

.logs-table td:not(.checkbox-column) {
  text-align: left;
  padding: 16px 24px;
}

/* Selected Row */
.logs-table tr.selected {
  background-color: #D3E4FF;
}

/* Hover and Even Rows */
.logs-table tr:not(.selected):nth-child(even),
.logs-table tr:not(.selected):hover {
  background-color: #F2F5FF;
}

/* Column Widths */
.checkbox-column {
  width: 64px;
}

.log-title-column,
.type-column,
.date-column {
  width: calc((100% - 64px) / 3);
}

/* Title Column */
.title-column {
  color: #64B2F6 !important;
}

/* Sort Icon */
.sort-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  margin-bottom: 3px;
  stroke-width: 2.5;
}

/* Table Footer */
.table-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  color: #333333;
  font-size: 15px;
}

.table-footer .showing-text span {
  color: #64B2F6;
}

/* Pagination */
.pagination {
  display: flex;
  gap: 8px;
  align-items: center;
}

.pagination span {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 4px 8px;
  color: #64B2F6;
  font-size: 14px;
  min-width: 13px;
  height: 20px;
}

.pagination .current-page {
  background-color: #244B94;
  color: white !important;
  font-weight: 500;
  border-radius: 50%;
}

.pagination span.next,
.pagination span.previous {
  min-width: auto;
  height: auto;
  color: #244B94;
  font-weight: 500;
}

/* Hover state for pagination */
.pagination span:hover:not(.current-page):not(.next):not(.previous) {
  color: #244B94;
}
