/* Container */
.upload-container {
    background: transparent;
    border-radius: 8px;
    margin-top: 9%;
    margin-left: 6%;
    width: 90%;
  }
  
  /* Upload Controls */
  .upload-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-top: 2rem;
    margin-right: 8%;
  }
  
  .control-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .control-button.next {
    background-color: #244B94;
  }
  
  .control-button.prev {
    background-color: #868686;
  }
  
  .control-button .control-icon {
    width: 20px;
    height: 20px;
    color: white;
  }
  
  /* Page Indicator */
  .page-indicator {
    font-size: 1rem;
    color: #333333;
  }
  
  .page-indicator .current-page {
    color: #64B2F6;
  }
  
  /* Fixed Transcribe Button */
  .fixed-transcribe-button,
  .transcribe-button-container {
    position: fixed;
    bottom: 32px;
    right: 32px;
  }