.app-bar {
  display: flex;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  left: 0;
  height: 120px;
  width: 98vw;
  padding: 1rem 3rem 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: #F7FAFF;
  z-index: 1000;
}

.logo {
  padding: 0px;
  height: 85px;
  width: 85px;
}

.icon-search-filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
}

.search-filter-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.search-input {
  height: 18px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  background-color: white;
  background-image: url('../../assets/magnifying-glass.svg');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-color: #FBFCFE;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #e3e8f2;
}

.app-bar-filter-button {
  display: flex;
  height: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #2F3C50;
  background-color: #FBFCFE;
  box-shadow: 0px 0px 10px #e3e8f2;
  border-radius: 20px;
  gap: 10px;
}

.small-icon-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.small-icon-button {
  display: flex;
  height: 48px;
  width: 54px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #2F3C50;
  background-color: #FBFCFE;
  box-shadow: 0px 0px 10px #e3e8f2;
  border-radius: 20px;
}

.app-bar-icon {
  height: 24px;
  width: 24px;
}
